// GehirnDNS as DDNS configuration
module.exports = {

    // API authoricate configurations.
    auth: {

        // API Access-token
        token: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",

        // API Secret key
        secret: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

    },

    // Target DNS record.
    target: {

        // GehirnDNS zone name.
        zone: "example.com",

        // DNS record
        record: "www.example.com."

    },

    ip_getter: {

        /* Common */
        ip_cache_path: null,

        /* HTTPBin */
        type: "HTTPBin"

        /* RS-500KI */
        type: "RS-500KI",
        options: {
            ip: "192.168.1.1",
            user: "hoge",
            password: "fuga",
            session: 1  // 1-5 (1: Main Session, 2-5: Session 2-5)
        }

    },

    option: {
        // If you checking request or response paramaters, change to 'true'.
        debug: false
    }
};
